.bubble-wrapper {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;
}

.container{
  display: flex;
  justify-content: center;
  height: 100vh;  
}
.results{
  min-width: 1000px;
  height: 300px;
  border-radius: 20px;
  border: 1px solid #555;
}