.bubble-wrapper-icon {
  background-color: #fff;
  width: 70px;
  height: 70px;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 1px 4px 15px 0px;
  border-radius: 1000px;
  border: none;

  .infojobs-icon {
    svg {
      width: 70px;
      height: 70px;
      border-radius: 100%;
    }
  }
  .close-icon {
    svg {
      position: absolute;
      left: 13px;
      top: 13px;
      width: 45px;
      height: 45px;
      transition: transform 0.5s, opacity 0.5s;
    }
  }
}

.hidden {
  transform: rotate(180deg);
  opacity: 0;
}
.show {
  opacity: 1;
}
